{:kotoba.app/id "cloud.itonami.isic-9200", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid3td3nigvwolrgtcgtydvp6wfqbytpruq4eixbqtw655tiaeh34u", :kotoba.app/embed-url "ipfs://bafkreid3td3nigvwolrgtcgtydvp6wfqbytpruq4eixbqtw655tiaeh34u", :published {:archive "https://kotobase.net/ipfs/bafkreid3td3nigvwolrgtcgtydvp6wfqbytpruq4eixbqtw655tiaeh34u", :size 74106, :put-status 201, :get-status 200, :at "2026-08-15T13:56:03.497Z"}}
